
html, body {
    height: 100%; 
    margin: 0;
}

.home-page {
    height: 100vh;  
    margin: 0;
    background-color: #232A2E; 
    color: #D3C6AA; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/e1zhp6bfd9bgctutmuel.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.home-container {
    text-align: center;
    padding: 50px;
    background-color: rgba(45, 53, 59, 0.6); 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
}


.home-title {
    font-size: 26px;
    color: #DBBC7F; 
    margin-bottom: 10px;
}


.nav-button {
    background-color: #3D484D; 
    color: #D3C6AA;
    padding: 18px 35px; 
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 18px;
    width: 85%; 
    max-width: 320px; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px 0;
}

.nav-button:hover {
    background-color: #4D4C43; 
    transform: scale(1.08);
}
