html, body {
    height: 100%;
    margin: 0;
    background-color: #232A2E; 
    color: #D3C6AA; 
}

.pt-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #2D353B; 
    color: #D3C6AA; 
    text-align: center;
}

.pt-title {
    color: #DBBC7F; 
    font-size: 28px;
    margin-bottom: 20px;
}


.pt-home-button {
    background-color: #343F44; 
    color: #D3C6AA; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}

.pt-home-button:hover {
    background-color: #4D4C43; 
}


.pt-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0;
    list-style-type: none;
}


.pt-box {
    background-color: #343F44; 
    border: 1px solid #4F585E; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.pt-box:hover {
    transform: scale(1.05);
}


.pt-details {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.professional-name {
    font-size: 18px;
    font-weight: bold;
    color: #D3C6AA; 
    margin-bottom: 10px;
}


.professional-specialty,
.professional-location,
.professional-availability,
.professional-equipment {
    font-size: 14px;
    color: #859289;
    margin-top: 5px;
    display: block; 
}


.form-button {
    background-color: #475258; 
    color: #D3C6AA; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.form-button:hover {
    background-color: #4F585E; 
}
